km-config2.dtd

<!ELEMENT km-config2 (DBConfig)+>
<!ATTLIST DBConfig
	Name CDATA #REQUIRED
	DBType CDATA #REQUIRED
	DBHost CDATA #REQUIRED
	DBPort CDATA #REQUIRED
	DBName CDATA #REQUIRED
	Username CDATA #REQUIRED
	Password CDATA #REQUIRED>
<!ELEMENT DBConfig (Option)*>
<!ATTLIST Option
	Key CDATA #REQUIRED
	Value CDATA #REQUIRED>