km-config2.dtd

<!ELEMENT km-config (DBConfig)*>
<!ELEMENT DBConfig (Option)*>
<!ATTLIST DBConfig
  name CDATA #REQUIRED
	DBType CDATA #REQUIRED
	DBHost CDATA #REQUIRED
	DBPort CDATA #REQUIRED
	DBName CDATA #REQUIRED
	Username CDATA #REQUIRED
	Password CDATA #REQUIRED>
<!ELEMENT Option>
<!ATTLIST Option
	Key CDATA #REQUIRED
	Value CDATA #REQUIRED>
	